In [2]:
from utils_visualization import*

# Generate data

# Preprocessing

In [3]:
name="dataNew/sharks"
data=generate_data(name_file=name)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Time', 'Species',
       'Investigator-Source', 'pdf', 'href-formula', 'href', 'Case-Number',
       'original-order', 'latitude', 'longitude', 'fatal'],
      dtype='object')

In [4]:
sub_df=data[["Date","Year","Sex","Age","Time",'Activity','Injury','Type','Country', 'Area', 'Location','Species','latitude', 'longitude', 'fatal']].copy()
sub_df

,Date,Year,Sex,Age,Time,Activity,Injury,Type,Country,Area,Location,Species,latitude,longitude,fatal
0,27-Aug-2019,2019,M,40,11h55,Surfing,Hand and calf bitten when he jumped off surfbo...,Provoked,USA,Florida,"New Smyrna Beach, Volusia County",6.5' shark,29.025819,-80.926998,N
1,21-Aug-2019,2019,M,11,09h00,Wading,Foot bitten,Unprovoked,USA,Florida,"Fort Lauderdale, Broward County",,26.122439,-80.137317,N
2,20-Aug-2019,2019,F,26,08h00,Swimming,Injury to lower back and right hip,Unprovoked,USA,Hawaii,"Napoopoo Park in Kealakekua Bay, The Big Island",,19.478244,-155.925927,N
3,16-Aug-2019,2019,M,9,11h00,Wading,Puncture marks to lower leg,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",,29.025819,-80.926998,N
4,11-Aug-2019,2019,M,16,19h30,Surfing,"No injury, board damaged",Unprovoked,USA,Hawaii,"Makaha Beach, Oahu",10' to 12' shark,21.476358,-158.220366,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,Before 1903,0000,M,,,Diving,FATAL,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,,-18.085833,122.283056,Y
6444,Before 1903,0000,M,,,Pearl diving,FATAL,Unprovoked,AUSTRALIA,Western Australia,"Lake Darlot, Shire Of Leonora, Western Austral...",,-27.672817,121.62831,Y
6445,1900-1905,0000,M,,,Swimming,FATAL,Unprovoked,USA,North Carolina,Ocracoke Inlet,,35.086105,-76.033389,Y
6446,1883-1889,0000,M,,,,FATAL,Unprovoked,PANAMA,,"Panama Bay 8ºN, 79ºW",,Missing,Missing,Y
6447,1845-1853,0000,M,15,,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",,8.577278,81.243279,Y

In [5]:
#replace '' by 'missing'
sub_df=fill_missing_value(data=sub_df)
sub_df.describe()

,Date,Year,Sex,Age,Time,Activity,Injury,Type,Country,Area,Location,Species,latitude,longitude,fatal
count,6448,6450,7013,9310,9838,7000,6477,6452,6498,6911,6494,9359,6448,6448,7065
unique,5551,253,8,155,368,1546,3832,12,215,844,4424,1578,3315,3304,9
top,1957,2015,M,Missing,Missing,Surfing,FATAL,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Missing,Missing,Missing,N
freq,11,141,5209,2862,3390,1009,811,4703,2310,1071,172,2911,201,201,4430

In [6]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11420 entries, 0 to 5170
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6448 non-null   object
 1   Year       6450 non-null   object
 2   Sex        7013 non-null   object
 3   Age        9310 non-null   object
 4   Time       9838 non-null   object
 5   Activity   7000 non-null   object
 6   Injury     6477 non-null   object
 7   Type       6452 non-null   object
 8   Country    6498 non-null   object
 9   Area       6911 non-null   object
 10  Location   6494 non-null   object
 11  Species    9359 non-null   object
 12  latitude   6448 non-null   object
 13  longitude  6448 non-null   object
 14  fatal      7065 non-null   object
dtypes: object(15)
memory usage: 1.6+ MB

# Transformation du temps

In [7]:
new_timeSeries,time_in_second,formats=get_second_from_format_hms(timeSeries=sub_df.Time)
sub_df.Time=new_timeSeries

# Transformation de l'Age

In [8]:
sub_df.Age=sub_df.Age.apply(remove_whitespace)
new_AgeSeries=filter_Age(data=sub_df)
sub_df.Age=new_AgeSeries

TypeError: object of type 'float' has no len()

# Transformation de fatal

In [ ]:
new_fatalSeries=filter_fatal(data=sub_df)
sub_df.fatal=new_fatalSeries

# Transformation du Sex

In [ ]:
new_SexSeries=filter_sex(data=sub_df)
sub_df.Sex=new_SexSeries

# Transformation Year

In [ ]:
new_YearSeries=filter_year(data=sub_df)
sub_df.Year=new_YearSeries

# Transformation Month

In [ ]:
month=filter_month(data=sub_df)
sub_df["Months"]=month

# Transformation du jour

In [ ]:
jour=filter_jour(data=sub_df)  
sub_df["Days"]=jour

## Transformation of hours

In [ ]:
hours=get_hours(Month=sub_df["Months"],Year=sub_df["Year"],Day=sub_df["Days"],Time_in_second=time_in_second)
sub_df["Hours"]=hours

# New data

In [ ]:
new_sub_df=sub_df.drop(columns=["Date"])
new_sub_df

In [ ]:
new_sub_df.describe()

In [ ]:
df_save=new_sub_df.drop(columns=["Hours"])
df_save.to_excel("dataNew/New_shark.xlsx",index=False)

In [ ]:
df=filter_tyte_TimeStamp(data=new_sub_df)
df

In [ ]:
df.loc[3]

# Missing value

In [ ]:
def unique_value(data=None,col=None):
    values=data[col].values.tolist()
    frame={"unique":values,"count":[1 for i in range(len(values))]}
    df=pd.DataFrame(frame)
    sd=df.groupby(by="unique").count().reset_index(drop=False)
    missing=sd[sd.unique=="Missing"]
    wrong_format=sd[sd.unique=="Missing"]
    print(f"Missing:{missing['count']}\n\nMissing:{wrong_format['count']}")

In [ ]:
unique_value(data=new_sub_df,col="Months")

# Plot biblio

## plot by year

In [ ]:
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()
temp=temp[1999<temp.Year]
fig=plt.figure(figsize=(25,12))
sns.countplot(data=temp, y="Year", hue="fatal")

In [ ]:
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()
temp=temp[1900<temp.Year]
temp=temp.groupby(by="Year").count().reset_index(drop=False)

In [ ]:
fig=plt.figure(figsize=(20,12))
sns.lineplot(data=temp,x="Year",y="fatal",color="r")

In [ ]:
months=list({'Jan':1,'Feb':2,'Mar':3,'Apr':4,
            'May':5,'Jun':6,'Jul':7,'Aug':8,
            'Sep':9,'Oct':10,'Nov':11,'Dec':12,"Missing":-1}.keys())
months

In [ ]:
temp=sub_df
temp=temp[1800<temp.Year][["Months","fatal"]].groupby(by="Months").count().reset_index(drop=False)
temp

In [ ]:
fig,ax=plt.subplots(figsize=(20,12))
sns.countplot(data=sub_df,x="Months",hue="fatal",ax=ax, order=months)
#xticks=ax.set_xticks(x+width,months)

##  plot Age et sex

In [ ]:

#Male
temp=sub_df
temp["Age"]=temp["Age"].apply(convert_str_to_float).copy()

temp=temp[temp.Sex=="Male"][["Age","fatal"]].groupby(by="Age").count().reset_index(drop=False)
temp1=temp[0<temp.Age]

#Female
temp=sub_df
temp["Age"]=temp["Age"].apply(convert_str_to_float).copy()
temp=temp[temp.Sex=="Female"][["Age","fatal"]].groupby(by="Age").count().reset_index(drop=False)
temp2=temp[0<temp.Age]

In [ ]:
fig=plt.figure(figsize=(20,12))
plt.plot(temp1.Age,temp1.fatal,color="r")
plt.plot(temp2.Age,temp2.fatal,color="b")
plt.legend(["Male","Female"])
plt.xlabel("Age")
plt.ylabel("Count")

## plot female and male

In [ ]:
#Male
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()

temp=temp[temp.Sex=="Male"][["Year","fatal"]].groupby(by="Year").count().reset_index(drop=False)
temp1=temp[1800<temp.Year]

#Female
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()
temp=temp[temp.Sex=="Female"][["Year","fatal"]].groupby(by="Year").count().reset_index(drop=False)
temp2=temp[1800<temp.Year]

In [ ]:
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()

temp=temp[temp.fatal=="Dead"][["Year","fatal"]].groupby(by="Year").count().reset_index(drop=False)
temp=temp[1800<temp.Year]

In [ ]:
sum(temp.fatal)

In [ ]:
#Numbre of attack
sum(temp1.fatal)+sum(temp2.fatal)

In [ ]:
fig=plt.figure(figsize=(20,12))
plt.plot(temp1.Year,temp1.fatal,color="r")
plt.plot(temp2.Year,temp2.fatal,color="b")
plt.legend(["Male","Female"])
plt.xlabel("Year")
plt.ylabel("Count")

In [ ]:
fig=plt.figure(figsize=(20,12))
sns.histplot(data=sub_df,y="Sex",hue="fatal",multiple="stack",binwidth=5)

## plot location : Country and area

In [ ]:
temp=sub_df
temp=temp[["Country","fatal"]].groupby(by="Country").count().reset_index(drop=False).sort_values(by="fatal",ascending=False)
temp=temp[100<temp.fatal].rename(columns={"fatal":"Count"})
temp

In [ ]:
fig=plt.figure(figsize=(25,12))
sns.barplot(data=temp, x="Country",y="Count")

In [ ]:
temp=sub_df
temp=temp[["Area","fatal"]].groupby(by="Area").count().reset_index(drop=False).sort_values(by="fatal",ascending=False)
temp=temp[100<temp.fatal]
temp=temp.drop(462)
temp

In [ ]:
fig=plt.figure(figsize=(25,12))
sns.barplot(data=temp, y="Area",x="fatal")

## plot Activity species and type

In [ ]:
temp=sub_df
temp=temp[["Species","fatal"]].groupby(by="Species").count().reset_index(drop=False).sort_values(by="fatal",ascending=True)
temp=temp[(21<temp.fatal) & (temp.fatal<500)]
temp.shape

In [ ]:
fig=plt.figure(figsize=(25,12))
sns.barplot(data=temp, y="Species",x="fatal")

In [ ]:
# creating an empty chart 
fig, ax= plt.subplots(figsize=(25,12)) 
# plotting using plt.stem 
ax.stem(temp['Species'], temp['fatal'], orientation='horizontal', basefmt=' ')
plt.xlabel("Count")
plt.ylabel("Species")

In [ ]:
temp=sub_df
temp=temp[["Activity","fatal"]].groupby(by="Activity").count().reset_index(drop=False).sort_values(by="fatal",ascending=False)
temp=temp[90<temp.fatal]
temp

In [ ]:
fig=plt.figure(figsize=(25,12))
sns.barplot(data=temp, y="Activity",x="fatal")

In [ ]:
temp=sub_df
temp=temp[["Type","fatal"]].groupby(by="Type").count().reset_index(drop=False).sort_values(by="fatal",ascending=False)
temp=temp[10<temp.fatal]
temp

In [ ]:
fig=plt.figure(figsize=(25,12))
sns.barplot(data=temp, y="Type",x="fatal")

## high dimension

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Create an instance of LabelEncoder
le = LabelEncoder()

## Type

In [ ]:
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()
temp["Age"]=temp["Age"].apply(convert_str_to_float).copy()
temp=temp[["Activity","Type","Year","fatal","Age"]]
mask=(1900<temp.Year) &(temp.Year<2019) & (0<temp.Age)
temp=temp[mask]

In [ ]:
fig, ax = plt.subplots(figsize=(25,12))
sns.scatterplot(data=temp,x="Year", y="Age", hue="Type",legend='auto',s=100,ax=ax)
plt.show()

## Species

In [ ]:
temp=sub_df
temp["Year"]=temp["Year"].apply(convert_str_to_float).copy()
temp["Age"]=temp["Age"].apply(convert_str_to_float).copy()
temp=temp[["Species","Type","Year","fatal","Age"]]
mask=(1900<temp.Year) &(temp.Year<2019) & (0<temp.Age)
temp=temp[mask]

## Map carte

In [ ]:
import plotly.express as px
import geopandas as gpd
from shapely.geometry import Point